@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: #002A48;
  --background-color: #FDFDFD;
}

body {
  color: var(--color);
  background: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .card {
    background-color: theme('colors.white');
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }
}
